{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-success">THAY ĐỔI QUY ĐỊNH</h1>
<form class="row">
    <div class="mb-3 mt-3 col-md-4">
        <label class="form-label">Số lượng nhập tối thiểu</label>
        <input type="number" min="10" class="form-control" id="min_quantity" placeholder="123" name="min_quantity" value="{{min_quantity}}">
    </div>
    <div class="mb-3 mt-3 col-md-4">
        <label class="form-label">Số lượng tồn tối thiểu</label>
        <input type="number" min="10" class="form-control" id="min_quantity_depot" placeholder="123" name="min_quantity_depot" value="{{min_quantity_depot}}">
    </div>
    <div class="mb-3 mt-3 col-md-4">
        <label class="form-label">Thời gian hủy đơn hàng (giờ)</label>
        <input type="number" min="1" class="form-control" id="order_cancel_time" placeholder="1" name="order_cancel_time" value="{{order_cancel_time}}">
    </div>
    <button type="submit" class="btn btn-primary ms-4 mt-3 mb-3">Thay đổi</button>
</form>
{% if err_msg == 'Thông tin không đúng. Vui lòng nhập lại!'%}
<div class="alert alert-danger">{{err_msg}}</div>
{% elif err_msg== 'Thành công' %}
<div class="alert alert-success">{{err_msg}}</div>
{% elif not err_msg %}
<div class="">{{err_msg}}</div>
{% endif %}
{% endblock %}