{% extends 'layout/base.html' %}
{% block title %} Dang Nhap{% endblock %}
{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{err_msg}}</h4>
</div>
{% endif %}
<h1 class="text-center text-danger mt-3">ĐĂNG NHẬP NGƯỜI DÙNG</h1>
<div class="login-container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Tài Khoản</label>
            <input type="text" class="form-control" id="username" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Mật Khẩu</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <input type="submit" value="Đăng Nhập" class="btn btn-danger">
        <br><br>
    </form>
</div>
{% endblock %}