
<div class="footer">
  <div class="container">
    <!-- Logo and Address -->
    <div class="footer-section">
      <h2>KaliLove</h2>
      <p>70 Lê Văn Lương, Phước Kiển, Nhà Bè</p>
      <p><strong>Điện thoại:</strong> +84 123 456 789</p>
      <p><strong>Email:</strong> KaliLove@bookstore.com</p>
    </div>

    <!-- Services -->
    <div class="footer-section">
      <h4>Dịch vụ</h4>
      <ul>
        <li><a href="#">Điều khoản sử dụng</a></li>
        <li><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Chính sách vận chuyển</a></li>
        <li><a href="#">Về chúng tôi</a></li>
      </ul>
    </div>

    <!-- Support -->
    <div class="footer-section">
      <h4>Hỗ trợ</h4>
      <ul>
        <li><a href="#">Chính sách đổi trả - hoàn tiền</a></li>
        <li><a href="#">Chính sách bảo hành</a></li>
        <li><a href="#">Thông tin vận chuyển</a></li>
        <li><a href="#">Hỗ trợ khách hàng</a></li>
      </ul>
    </div>

    <!-- Payment & Social Links -->
    <div class="footer-section">
      <h4>Theo dõi chúng tôi</h4>
      <div class="social-icons">
        <a href="#"><img src="{{url_for('static',filename='icons/facebook.png')}}" alt="Facebook" /></a>
        <a href="#"><img src="{{url_for('static',filename='icons/instagram.png')}}" alt="Instagram" /></a>
        <a href="#"><img src="{{url_for('static',filename='icons/twitter.png')}}" alt="Twitter" /></a>
        <a href="#"><img src="{{url_for('static',filename='icons/youtube.png')}}" alt="Youtube" /></a>
      </div>
      <h4>Phương thức thanh toán</h4>
      <div class="payment-icons">
        <img src="{{url_for('static',filename='icons/vnpay.jpg')}}" alt="VNPay" />
        <img src="{{url_for('static',filename='icons/momo.png')}}" alt="Momo" />
        <img src="{{url_for('static',filename='icons/shopeepay.png')}}" alt="Shopeepay" />
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 KaliLove - Nhà sách. Mọi quyền được bảo lưu.</p>
  </div>
</div>


