<nav class="navbar navbar-expand-md custom-bg navbar-light">

    <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="{{url_for('static',filename='images/kali.jpg')}}" alt="Logo" style="width: 130px;">
    </a>
    <form class="d-flex mx-auto" method="GET" action="{{ url_for('products') }}">
        <input class="form-control search-bar" name="keyword" type="text" placeholder="Nhập Từ Khóa...">
        <button class="btn btn-danger" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div class="icon-container ml-3">
    <div class="icon">
        <div class="bi bi-bell"></div>
        <span>Thông Báo</span>
    </div>

    <a href="{{url_for('cart')}}"><div class="icon">
        <div class="bi bi-cart"><span class="badge badge-info cartCounter" > {{cart_stats.total_quantity}}  </span></div>
            <span>Giỏ Hàng</span>
        </div>
    </a>


        {% if current_user.is_authenticated %}
                <div class="icon">
                              <a class="nav-link text-danger" href="{{url_for('index')}}">
                                {% if current_user.avatar %}
                                  <img src="{{current_user.avatar}}" width="80" class="rounded-circle" alt="{{current_user.name}}">
                                {% else %}
                                  <img src="{{url_for('static',filename='images/1.jpg') }}"  class="rounded-circle" width="80" alt="{{current_user.name}}">
                                {% endif %}
                                {{current_user.username}}
                              </a>
                                  <div class="dropdown-menu">
                                <a href="{{url_for('user_signout')}}">
                                    <button class="btn btn-danger">Đăng xuất</button>
                                </a>
                            </div>
                    {% else %}
                        <div class="icon">
                            <div class="bi bi-person"></div>
                            <div>Tài Khoản</div>
                            <div class="dropdown-menu">
                                <a href="{{url_for('user_signin')}}">
                                    <button class="btn btn-danger">Đăng nhập</button>
                                </a>
                                <a href="{{url_for('user_register')}}">
                                    <button class="btn btn-outline-danger">Đăng ký</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>

        </div>

</nav>